# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Brzydal
cmake_install.cmake
CMakeCache.txt
CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/2.8.12.2/CMakeSystem.cmake
CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/Brzydal.dir/build.make
CMakeFiles/Brzydal.dir/cmake_clean.cmake
CMakeFiles/Brzydal.dir/CXX.includecache
CMakeFiles/Brzydal.dir/depend.internal
CMakeFiles/Brzydal.dir/DependInfo.cmake
CMakeFiles/Brzydal.dir/flags.make
CMakeFiles/Brzydal.dir/link.txt
CMakeFiles/CMakeCCompiler.cmake
CMakeFiles/CMakeCXXCompiler.cmake
CMakeFiles/CMakeDetermineCompilerABI_C.bin
CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeSystem.cmake
CMakeFiles/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/Progress/1
CMakeFiles/Progress/count.txt
CMakeFiles/TargetDirectories.txt
Makefile
